* {
  font-family: kanit, sans-serif;
}

.background {
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0 auto;
}

.hot-container {
  max-height: 900px;
  max-width: 900px;
}

.flex {
  display: flex;
}

.headphone {
  font-size: 60px;
  color: white;
  margin-left: 25px;
}

.menu {
  color: white;
}

.logo {
  color: white;
  margin-left: 30px;
  font-size: 20px;
}

.search {
  background-color: rgb(203, 203, 203);
  border-radius: 15px;
  width: 50vw;
  padding: 8px 3px;
}

::placeholder {
  padding-left: 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.navbar-nav {
  text-align: end;
}

ul {
  margin: 0 20px;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(198, 198, 198);
  transform: translateY(-5px);
}

.title,
.subtext {
  color: rgb(232, 232, 232);
  text-align: center;
  font-weight: bold;
}

.welcome {
  opacity: 0;
  color: transparent;
}

.shadow {
  text-shadow: rgb(254, 248, 227) 1px 0 10px;
}

.title-fade {
  color: white;
  transition: 5s;
  opacity: 1;
}

.subtext-fade {
  color: white;
  transition: 10s;
  opacity: 1;
  margin: auto;
  width: fit-content;
}

.main-container {
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-page {
  height: 350px;
  display: flex;
  align-items: flex-end;
}

.width {
  width: 100vw;
}

.fixed {
  position: fixed;
  left: 12px;
  overflow-y: auto;
  height: 90%;
}

.track {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 205px;
  align-items: center;
}

.hidden {
  display: none;
}

.song-name,
.username,
.playlist {
  color: white;
  width: fit-content;
}

.song-name {
  font-size: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

.username {
  font-size: 20px;
  line-height: 0;
  padding-bottom: 5px;
  cursor: pointer;
}

.col-4 {
  display: flex;
  align-items: center;
  justify-content: end;
}

.discover-title {
  margin-top: 4rem;
}

.search-text {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}

.discover-user {
  font-size: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  color: white;
  width: fit-content;
  margin-left: 10px;
}

.discover-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.icon-div {
  margin-left: 5rem;
}

.fa-headphones {
  font-size: 100px;
  color: white;
  justify-content: end;
}

.playlist-col {
  padding-top: 25px;
}

.fa-users {
  font-size: 85px;
  color: white;
  justify-content: end;
}

.text {
  font-size: 35px;
  cursor: pointer;
  padding-left: 2%;
  color: white;
}

.fa-heart {
  font-size: 100px;
  color: white;
  justify-content: end;
}

.user-image,
.userplaylist-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.user-text {
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  color: white;
  width: fit-content;
  margin-left: 10px;
}

.track-num {
  color: white;
  margin-left: 2%;
  font-size: 18px;
}

.none {
  color: white;
  text-align: center;
  margin-bottom: 22rem;
  padding-left: 5px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 48%;
  bottom: 56%;
}

.load-hot {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 116%;
  bottom: 48%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
  background: white;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
  background: white;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
  background: white;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media screen and (max-width: 768px) {
  .headphone {
    margin: 0;
  }

  .logo {
    margin-left: 8px;
  }

  .column-12 {
    margin-bottom: 8rem;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .hot-tracks,
  .search-page,
  .track,
  .discover-page,
  .user-page,
  .playlist-page,
  .following-page,
  .likedsongs-page {
    height: 200px;
  }

  .song-name,
  .user-text {
    font-size: 15px;
  }

  .username {
    font-size: 10px;
  }

  .discover-title {
    margin-top: 0;
  }

  .search-text {
    margin-top: 1rem;
  }

  .fa-solid {
    font-size: 70px;
  }

  .fa-headphones,
  .fa-heart {
    margin-right: 5px;
  }

  .playlist-p,
  .following-p,
  .liked-p {
    font-size: 20px;
    text-align: center;
    width: 270%;
    margin-bottom: 2rem;
  }

  .following-p {
    width: 270%;
  }

  .user-playlist {
    font-size: 20px;
  }

  .col-12 {
    margin-top: 4em;
  }
}

@media screen and (min-width: 768px) {
  .headphone {
    margin-left: 34px;
  }

  .logo {
    margin-left: 40px;
  }

  ul {
    margin-left: 3rem;
  }

  .column-12 {
    margin-bottom: 3rem;
  }

  .discover-title {
    margin-top: 0;
  }

  .col-12 {
    margin-top: 8rem;
  }

  img {
    height: 130px;
    width: 130px;
  }

  .hot-tracks,
  .search-page,
  .track,
  .discover-page,
  .user-page,
  .playlist-page,
  .following-page,
  .likedsongs-page {
    height: 200px;
  }

  .song-name,
  .user-text {
    font-size: 25px;
  }

  .username {
    font-size: 17px;
  }

  .search-text {
    margin-top: 1rem;
  }

  .fa-solid {
    font-size: 80px;
  }

  .fa-headphones,
  .fa-heart {
    margin-right: 5px;
  }

  .playlist-p,
  .following-p,
  .liked-p {
    font-size: 25px;
    align-items: center;
    margin-bottom: 0;
  }

  .user-playlist {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .link {
    margin: 0 12px;
  }

  ul {
    margin: 0 auto;
  }

  .headphone {
    margin-left: 15px;
  }

  .logo {
    margin: 0 22px;
  }

  .search {
    margin-left: 30px;
  }

  .column-12 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1140px) {
  .discover-title {
    font-size: 35px;
  }

  .search-text {
    font-size: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .headphone {
    margin-left: 12px;
  }

  .logo {
    margin-left: 20px;
  }

  ul {
    margin-left: 3rem;
  }

  .column-12 {
    margin-bottom: 1rem;
  }

  img {
    height: 120px;
    width: 120px;
  }

  .hot-tracks,
  .search-page,
  .track,
  .discover-page,
  .user-page,
  .playlist-page,
  .following-page,
  .likedsongs-page {
    height: 200px;
  }

  .song-name,
  .user-text {
    font-size: 30px;
  }

  .username {
    font-size: 20px;
  }

  .col-12 {
    margin-top: 9rem;
  }

  .discover-title {
    margin-top: 0;
  }

  .search-text {
    margin-top: 1rem;
  }

  .fa-solid {
    font-size: 80px;
  }

  .fa-headphones,
  .fa-heart {
    margin-right: 5px;
  }

  .playlist-p,
  .following-p,
  .liked-p {
    font-size: 25px;
    align-items: center;
    margin-bottom: 0;
  }

  .user-playlist {
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .search {
    margin-left: 5%;
  }

  .link {
    margin: 0 25px;
  }

  .text {
    font-size: 30px;
  }

  .col-12 {
    margin-top: 9rem;
  }

  .discover-title {
    font-size: 35px;
  }

  .search-text {
    font-size: 25px;
  }
}

@media screen and (min-width: 1400px) {
  .search {
    margin-right: 40px;
    width: 50vw;
  }

  .link {
    margin: 0 25px;
  }

  .headphone {
    margin-left: 13px;
  }

  img {
    margin-left: 350px;
  }

  .col-8 {
    padding-left: 140px;
  }

  .text {
    font-size: 35px;
  }
}

@media screen and (min-width: 1640px) {
  .search {
    margin-left: 50px;
  }

  .link {
    margin: 0 30px;
  }
}

@media screen and (min-width: 1800px) {
  .search {
    margin-right: 80px;
    width: 55vw;
  }

  .link {
    margin: 0 35px;
  }
}

@media screen and (min-width: 2037px) {
  .search {
    margin-left: 80px;
    width: 60vw;
  }

  .link {
    margin: 0 30px;
  }
}

@media screen and (min-width: 2043px) {
  .search {
    margin-left: 100px;
    width: 60vw;
  }

  .link {
    margin: 0 30px;
  }

  .song-name {
    font-size: 35px;
  }

  .username {
    font-size: 20px;
  }

  .column-12 {
    margin-bottom: 3rem;
  }

  .discover-title {
    margin-top: 0;
  }
}
